<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.samsao.imagepicker">
    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="co.samsao.imagepicker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_path" />
        </provider>
    </application>
</manifest>